.r-examples{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
}
.r-examples-header{
  height:60px;
  border-bottom:1px solid #ddd;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0 24px;
}
.r-examples-body{
  flex:1;
  overflow:hidden;
  display:flex;
}
.r-examples-tree{
  width:200px;
  flex-shrink: 0;
}
.aio-table{
  flex:1;
  height:100%;
}
.r-examples-body .aio-table-cell.active{
  background: lightblue;
  color:#888;
}
